.home{
    grid-template-columns: 4.32fr 7.68fr;
    align-items: center;
    padding: 40px;
    height: 100vh;
}
.home__img{
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0 0 8px hsla(0,0%,0%,0.3);
    z-index: 1;
}
.home__data{
    max-width: 600px;
    margin-inline: auto;
    padding-top: 20px;
}
.home__title{
    position: relative;
    font-size: 2.9rem;
    line-height: 1.24;
}
.home__title h1{
    font-size: 2rem;
}
.home__title span{
    color: var(--first-color);
    font-size: 4rem;
    font-weight: var(--weight-800);
    text-transform: uppercase;
}
.home__type{
    font-size: 2rem;
    margin-bottom: 50px;
}
.home__description{
    line-height: 1.5;
    margin-block: 16px 32px;
}
.color__block{
    position: fixed;
    height: 200%;
    width: 100%;
    background-color: var(--first-color);
    top: -50%;
    left: -83%;
    border-radius: 50px;
    transform: rotate(-35deg);
}
.color__block2{
    position: fixed;
    height: 200%;
    width: 100%;
    background-color: var(--first-color);
    top: -50%;
    left: 103%;
    border-radius: 50px;
    transform: rotate(-35deg);
    z-index: -1;
}
.home__button{
    color: var(--title-color);
    border: 1px solid var(--first-color);
    padding: 10px 30px;
    border-radius: 35px;
    cursor: pointer;
    letter-spacing: 1px;
    margin: 0px 10px;
    box-shadow: 1px 1px 1px 1px rgba(0,255,255,1);
    transition: all 0.3s ease;
}
.home__button:hover{
    color: var(--title-color);
    background-color: var(--first-color);
    border: none;
}


/* Media Queries */

@media screen and (max-width: 800px){
    .home__img{
        height: 80%;
        object-fit: cover;
    }
    .home__data{
        padding-right: 0px;
    }
    .home__title h1{
        font-size: 1.5rem;
    }
    .home__title span{
        font-size: 2.5rem;
    }
    .animation{
        font-size: 1.5rem;
    }
    .home__button{
        margin-right: 0px;
    }
    .color__block{
        position: fixed;
        height: 200%;
        width: 100%;
        background-color: var(--first-color);
        top: -60%;
        left: -105%;
        border-radius: 50px;
        transform: rotate(-35deg);
    }
    .color__block2{
        position: fixed;
        height: 200%;
        width: 100%;
        background-color: var(--first-color);
        top: -80%;
        left: 113%;
        border-radius: 50px;
        transform: rotate(-55deg);
        z-index: -1;
    }
}

@media screen and (max-width: 720px){
    .home{
        width: 100%;
        display: flex;
        padding: 0px;
        margin: 0px;
        text-align: center;
    }
    .home__img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .home__content{
        position: absolute;
        z-index: 2;
        left: 12%;
    }
    .home__title{
        margin-right: 0px;
        text-align: center;
    }
    .home__title h1{
        color: lightgray;
    }
    .animation{
        color: lightgray;
    }
}

@media screen and (max-width: 550px){
    .home{
        width: 100%;
        display: flex;
    }
    .home__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .home__content{
        left: 1%;
    }
    .color__block{
        display: none;
    }
    .color__block2{
        display: none;
    }
}